html{
  background-color: black;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color:black;
  height: 100%;
  position: absolute;
  width: 100%;
}


.header .navbar {
  background-color: transparent !important;
  border: none !important;
}

input{
  background-color: #111 !important;
  color: #fff !important;
  border: 1px solid #fff !important;

}

p{
  color: #fff !important;
}

table{
  background-color: #111 !important;
  color: #fff !important;
  border: 1px solid #fff !important;
}

textarea{
  background-color: #111 !important;
  color: #fff !important;
  border: 1px solid #fff !important;
}